.haberBaslik {
    font-weight: 700;
}

.haberAciklama {
    font-weight: 700;
    text-align: justify;
}

.haberTarih {
    
}

.haberFotografi {
    overflow: hidden;
    height: 100%;
    max-height: 200px;
}
